* {
    background-color: rgb(214, 138, 185);
}


.head {
    background-color: coral;
    color: #28adce;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}


.recipes-list {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #aace28;
    font-size: 20px;
    font-weight: bold;
}

.recipe-head {
    background-color: rgb(240, 70, 70);
    color: rgb(30, 85, 148);
}

h2 {
    background-color: rgb(141, 70, 141);
    font-size: 30px;
}

#italian,
#moroccan {
    height: auto;
    width: 600px;
}

